.el-transfer {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .el-transfer-panel {
    .el-transfer-panel__header {
      .el-checkbox__label {
        font-size: 14px;
      }
    }
    .el-transfer-panel__filter {
      margin: 8px;
      .el-input__inner {
        height: 25px;
      }
    }
    .el-transfer-panel__item {
      height: 25px;
      .el-checkbox__label {
        font-size: 12px;
      }
    }
  }
  .el-transfer__buttons {
    padding: 0 10px;
    .el-transfer__button {
      padding: 5px;
    }
  }
}